# OS
.DS_Store

# Node
node_modules/
.npm/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.*

# Build artifacts
coverage/
dist/
.next/
.vercel/
.gatsby/
.cache/

# Typechain / hardhat
**/typechain/
**/artifacts/
**/cache/
**/coverage/
**/deployments/**/solcInputs/

# Editor
.vscode/
.idea/

# Misc
*.local

